# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Backend 7 semana
7semana/backend/node_modules/
7semana/backend/yarn.lock
7semana/backend/uploads/resized/*jpg
# Backend 8 semana
8semana/backend/node_modules/
8semana/backend/yarn.lock

# Frontend 7 semana
7semana/frontend/node_modules/
7semana/frontend/yarn.lock
# Frontend 8 semana
8semana/frontend/node_modules/
8semana/frontend/yarn.lock
