###########################################
# 7 semana OmniStack
# Backend 7 semana
07semana/backend/node_modules/
07semana/backend/yarn.lock
07semana/backend/uploads/resized/*jpg

# Frontend 7 semana
07semana/frontend/node_modules/
07semana/frontend/yarn.lock

###########################################
# 8 semana OmniStack
# Backend 8 semana
08semana/backend/node_modules/
08semana/backend/yarn.lock

# Frontend 8 semana
08semana/frontend/node_modules/
08semana/frontend/yarn.lock

# Mobile 8 semana
08semana/tindev/node_modules/
08semana/tindev/node_modules/yarn.lock

# Android/IntelliJ
08semana/tindev/build/
08semana/tindev/.idea
08semana/tindev/.gradle
08semana/tindev/local.properties
08semana/tindev/*.iml 

###########################################
# 9 semana OmniStack
# Backend 9 semana
09semana/backend/node_modules/
09semana/backend/yarn.lock
09semana/backend/uploads/*

# Frontend 9 semana
09semana/frontend/node_modules/
09semana/frontend/yarn.lock

###########################################
# 10 semana OmniStack
# Backend 10 semana
10semana/backend/node_modules/
10semana/backend/yarn.lock

# Frontend 10 semana

###########################################
# 11 semana OmniStack
# Backend 11 semana
11semana/backend/node_modules/
11semana/backend/yarn.lock
11semana/backend/.env
11semana/backend/src/database/migrations/db.sqlite

# Frontend 11 semana